.carrousel {
    position: absolute;
    left: 25vw;
    top: 25vw;

    width: 50vw;
    height: 50vh;

    transform: scale(0);
    opacity: 0;
    transition: transform .5s, opacity .5s;
    background-color: beige;

    z-index: 1;
}

.carrousel--ouvrir {
    opacity: 1;
    transform: scale(1);
}