.carrousel {
    // position: fixed; // pour garder en haut de la page
    position: absolute;
    left: 20vw; //25vw;
    top: 20vh; //25vh;
    width: 60vw; // 50vw;
    height: 60vh; // 50vh;
    transform: translateY(-100%); // on devrait personnaliser ceci
    opacity: 0;
    transition: transform .5s, opacity .5s;
    background-color: rgba(0, 0, 0, 0); // sera une image
    z-index: 1;
    border-radius: 20px;
}

.carrousel--ouvrir {
    opacity: 1;
    transform: translateY(0);
}

.carrousel__x {
    display: flex; // perso
    justify-content: center; // perso
    align-items: center; // perso
    position: absolute;
    left: calc(100% - 2rem);
    // right: 0;
    // left: 0;
    // top: 0;
    width: 2rem;
    height: 2rem;
    font-family: sans-serif;
    z-index: 2;
    // opacity: 0.8;
    border-radius: 0 20px 0 0;
}

.carrousel__figure {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    align-items: center;
}

.carrousel__figure__img {
    display: block;
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
}

.carrousel__figure__img--activer {
    opacity: 1;
}

.carrousel__form {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.carrousel__form__rad {
    z-index: 2;
    height: 100%;
}

.fleches {
    justify-content: space-between;
    position: absolute;
    display: flex;
    height: 50px;
    width: 100%;
}

.fleches div {
    height: 100%;
    width: 50px;
    font-size: 72px;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

