.carrousel {
    position: fixed; // pour garder en haut de la page
    left: 25vw;
    top: 10vh;

    width: 40vw;
    max-height: 40vh;

    transform: scale(0);
    opacity: 0;
    transition: transform .5s, opacity .5s;
    background-color: rgb(112, 112, 0);

    z-index: 1;
}

.carrousel--ouvrir {
    opacity: 1;
    transform: scale(1);
}

.carrousel__x {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: calc(100% - 2rem);
    // right: 0;
    // top: 0;
    width: 2rem;
    font-family: sans-serif;
    height: 2rem;
}

.carrousel__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    max-height: 40vh;
}

.carrousel__figure_img {
    object-fit: cover;
    // position: absolute;
    width: 300px;
    max-height: 100%;
}

.carrousel__form {

}

.carrousel__form__rad {

}
